/*
#69D2E7 deep blue
#A7DBD8 light blue
#E0E4CC light brown
#F38630 light orange
#FA6900 dark orange
#FE4365 dark pink
*/

body {
	background: url(../images/bg.png);
}

.hidden {
	display: none;
}

ul li {
	list-style: none;
}
.min-main {
	min-height: 300px;
}

.boring-line {
	font-size: 4px;
	line-height: 40px;
	color: gray;
}
.start-btn {
	margin: 10px 0;
}

ul.nav li a.feature {
	color: #FE4365;
}

.home-guess {
	background: white;
	border-top: 22px solid gray;
	border-bottom: 5px solid gray;
	padding: 20px 60px;
	vertical-align: middle;
	margin: 40px 0 40px 100px;
	width: 200px;
	box-shadow: -9px 10px 11px 2px #c5c5c5;
}

.home-suggestion, .home-guess {
	float: left;
	min-height: 270px;
}

.home-request {
	float: right;
}

.home-suggestion, .home-request {
	width: 185px;
	padding: 10px;
}

.home-suggestion ul li, .home-request ul li {
	line-height: 30px;
}


.home-suggestion ul, .home-request ul {
	margin: 0;
}

.more-suggest {
	float: right;
	border-top: 1px dotted;
}

.home-suggestion ul li a, .home-request ul li a {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 180px;
	display: block;
	padding: 0 5px;
}

.home-project {
	width: 940px;
	clear: both;
}

.boring-today {
	text-align: center;
	padding: 10px 0;
}

.today-day {
	font-size: 160px;
	line-height: 100px;
	font-weight: bold;
}

.today-month {
	font-size: 30px;
	line-height: 40px;
}

.today-date:hover {
	background: none;
	color: #FE4365;
}

.home-list ul li {
	float: left;
	padding: 10px 20px;
}

.home-project ul li {
	font-size: 80px;
	font-weight: bold;
	width: 100px;
	height: 100px;
	line-height: 100px;
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	text-align: center;
	background: #69D2E7;
	box-shadow: 5px 5px 5px -3px #C5C5C5;
}

.home-project ul li a {
	color: #FFFFFF;
}

.start-section {
	width: 500px !important;
	text-align: center;
}

section.add-item .form-horizontal .control-label {
	width: 60px;
}

section.add-item .form-horizontal .controls {
	margin-left: 90px;
}

#desc {
	width: 400px;
}

footer {
	padding: 20px;
	margin-top: 20px;
	text-align: right;
	border-top: 1px dotted #c5c5c5;
	color: #c5c5c5;
}

.user-img {
	width: 100px;
}

.selected-img {
	border: 6px dotted red;
}

/* 成就页面 */
.control-section {
	margin: 20px;
}
.table .achieve-process {
	width: 130px;
	text-align: center;
	vertical-align: middle;
}
.achieve-table .achieve-desc p {
	display: none;
	line-height: 26px;
}

.achieve-table .achieve-desc h5 {
	cursor: pointer;
}

.honor-list ul li {
	line-height: 24px;
}

article.about-main {
	width: 600px;
	padding: 20px;
	font-size: 16px;
	line-height: 22px;
}

/* 列表 */
.boring-list ul li {
	float: left;
	margin: 5px 10px;
}

.boring-list ul li a {
	line-height: 20px;
	background: #E0E4CC;
	padding: 5px;
	color: #FE4365;
}

.boring-list ul li a:hover {
	background: #A7DBD8;
	color: #FE4365;
}

.boring-project-list li {
	font-size: 60px;
	font-weight: bold;
	width: 80px;
	height: 80px;
	line-height: 80px;
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	text-align: center;
	background: #69D2E7;
	box-shadow: 5px 5px 5px -3px #C5C5C5;
}

.home-project ul li a {
	color: #FFFFFF;
}

.boring-project-list li a:hover {
	background: #FE4365;
}

/* 条目页面 */
.score-bar a {
	line-height: 22px;
	font-size: 19px;
}
.score-bar a i, .score-bar i {
	font-size: 16px;
	line-height: 22px;
	background: none;
	width: 22px;
	height: 22px;
}

.score-bar a:hover i {
	color: #FFFFFF;
}

.score-bar i {
	color: #FA6900;
}

.score-bar {
	border-top: 1px dotted gold;
	width: 300px;
}
/* 计数器 */
.counter-list h5 {

}

.counter-list .count-btn {
	font-size: 20px;
	background: #69D2E7;
	color: #FFFFFF;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	padding: 5px;
	line-height: 20px;
}

.counter-list .count-btn:hover {
	background: #FA6900;
}

.counter-list .count-now {
	font-size: 30px;
}
